.introduction {
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.introductiontext {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.information {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.informationtext {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-right:-10px;
    padding-right:0;
    margin-bottom:20px;
    padding-bottom: 20px;
}

.socialmediaLogo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.instagram {
    margin: 20px;
    text-decoration: none;
}

.youtube {
    margin: 20px;
    text-decoration: none;
}

.twitch {
    margin: 20px;
    text-decoration: none;
}

.discord {
    margin:20px;
    text-decoration: none;
}